<section class="text-secondary mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary">à propos</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Bonjour, moi c'est Romain !<br/>
                    J'ai 20 ans, je vis à Paris et je suis actuellement en alternance dans l'entreprise
                    <a target="_blank" href="http://www.symediane.com/">Symediane</a> avec la formation Développeur
                    PHP / Symfony proposée par <a target="_blank" href="https://openclassrooms.com/">OpenClassrooms</a>.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    J'ai également obtenu le diplôme "Infographiste Print/Web" de niveau bac à l'école
                    <a target="_blank" href="http://www.iefm3d.com/">IEFM3D</a> ainsi que le diplôme "Développeur Web
                    Junior" de niveau bac sur <a target="_blank" href="https://openclassrooms.com/">OpenClassrooms</a>.<br/>
                    Voir mon CV pour plus d'information 😎
                </p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-dark" href="assets/pdf/CV_ROMAIN_OLLIER.pdf" download>
                <i class="fas fa-download mr-2"></i>
                Télécharger mon CV
            </a>
        </div>
    </div>
</section>