<section id="contact" class="bg-primary">
    <div class="container">
        <h2 class="text-center text-uppercase text-white mb-0">Me contacter</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nom</label>
                            <input class="form-control" id="name" type="text" placeholder="Nom" required="required" data-validation-required-message="Veuillez entrer votre nom.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Adresse Email</label>
                            <input class="form-control" id="email" type="email" placeholder="Adresse Email" required="required" data-validation-required-message="Veuillez entrer votre adresse email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Numéro de Tel.</label>
                            <input class="form-control" id="phone" type="tel" placeholder="Numéro de Tel." required="required" data-validation-required-message="Veuillez entrer votre numéro de téléphone.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Message</label>
                            <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Veuillez entrer votre message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-light btn-xl" id="sendMessageButton">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>