<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="?c=index"><img src="assets/img/profile_avatar.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li {% if _get.c == "adminDashboard" %}class="active"{% endif %}>
                        <a href="{% if _get.c == "adminDashboard" %}javascript:void(0){% else %}?c=adminDashboard{% endif %}">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li {% if _get.c == "adminBlog" %}class="active"{% endif %}>
                        <a href="javascript:void(0)" aria-expanded="true">
                            <i class="fa fa-pencil"></i>
                            <span>
                                    Articles
                                </span>
                        </a>
                        <ul class="collapse">
                            <li {% if _get.c == "adminBlog" and _get.t == null or _get.t == 'deletePost' %}class="active"{% endif %}>
                                <a href={% if _get.c == "adminBlog" and _get.t == null or _get.t == 'deletePost' %}javascript:void(0){% else %}"?c=adminBlog{% endif %}">Liste</a>
                            </li>
                            <li {% if _get.c == "adminBlog" and _get.t == "edit" and _get.id == null %}class="active"{% endif %}>
                                <a href="{% if _get.c == "adminBlog" and _get.t == "edit" and _get.id == null %}javascript:void(0){% else %}?c=adminBlog&t=edit{% endif %}">Ajouter</a>
                            </li>
                        </ul>
                    </li>
                    <li {% if _get.c == "adminComments" %}class="active"{% endif %}>
                        <a href="{% if _get.c == "adminComments" %}javascript:void(0){% else %}?c=adminComments{% endif %}" aria-expanded="true">
                            <i class="fa fa-commenting"></i>
                            <span>Commentaires</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>