.form-grid {

  form {
    display: grid;
    grid-template-areas:
            "left  right";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @media all and (max-width: 991px) {
      grid-template-areas:
              "left"
              "right";
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }

    .left {
      grid-area: left;
    }

    .right {
      grid-area: right;

      .form-group {
        height: 100%;
        flex-direction: column;

        textarea {
          height: 100%;
          min-height: 200px;
        }
      }
    }
  }

  .submit-form {
    margin: 0.5rem;
  }

}