{% extends "base-front.html.twig" %}

{% block header %}{{ include('components/header.html.twig') }}{% endblock %}

{# Main content #}
{% block main %}

    <!-- About Section -->
    <section class="text-secondary mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary">à propos</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">
                        Bonjour, moi c'est Romain !<br/>
                        J'ai 20 ans, je vis à Paris et je suis actuellement en alternance dans l'entreprise
                        <a target="_blank" href="http://www.symediane.com/">Symediane</a> avec la formation Développeur
                        PHP / Symfony proposée par <a target="_blank" href="https://openclassrooms.com/">OpenClassrooms</a>.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        J'ai également obtenu le diplôme "Infographiste Print/Web" de niveau bac à l'école
                        <a target="_blank" href="http://www.iefm3d.com/">IEFM3D</a> ainsi que le diplôme "Développeur Web
                        Junior" de niveau bac sur <a target="_blank" href="https://openclassrooms.com/">OpenClassrooms</a>.<br/>
                        Voir mon CV pour plus d'information 😎
                    </p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-dark" href="assets/pdf/CV_ROMAIN_OLLIER.pdf" download>
                    <i class="fas fa-download mr-2"></i>
                    Télécharger mon CV
                </a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="bg-primary">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Contactez-moi</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Nom</label>
                                <input class="form-control" id="name" type="text" placeholder="Nom" required="required" data-validation-required-message="Veuillez entrer votre nom.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Adresse Email</label>
                                <input class="form-control" id="email" type="email" placeholder="Adresse Email" required="required" data-validation-required-message="Veuillez entrer votre adresse email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Numéro de Tel.</label>
                                <input class="form-control" id="phone" type="tel" placeholder="Numéro de Tel." required="required" data-validation-required-message="Veuillez entrer votre numéro de téléphone.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Message</label>
                                <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Veuillez entrer votre message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-light btn-xl" id="sendMessageButton">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script src="assets/js/home.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="assets/js/vendor/jqBootstrapValidation.min.js"></script>
    <script src="assets/js/contact_me.js"></script>
{% endblock %}
