.delete-form {
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 76px !important;
}

.active-yes {
  font-size: 2rem;
  color: #28a745;
}

.active-no {
  font-size: 2rem;
  color: #dc3545;
}