{% extends "base-front.html.twig" %}

{# Custom stylesheet #}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/login.css">
{% endblock %}

{% block nav %}{% endblock %}

{% block main %}
    <main class="text-center" id="login-page">
        <form class="form-signin" action="?c=login" method="post">
            <i class="fas fa-sign-in-alt mb-4 sign-in-icon"></i>
            {%  include 'components/notifications.html.twig' %}
            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            <label for="inputEmail" class="sr-only">Adresse Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Adresse Email" name="email" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" name="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
            <a href="#" class="btn btn-lg btn-success btn-block create-account">Créer un compte</a>
            <p class="mt-5 mb-3 text-muted">&copy; romain-ollier.com</p>
        </form>
    </main>
{% endblock %}

{% block footer %}{% endblock %}