{% extends "base-front.html.twig" %}

{# Custom stylesheet #}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/login.css">
{% endblock %}

{% block nav %}{% endblock %}

{% block main %}
    <main class="text-center" id="login-page">
        <form class="form-signin needs-validation" action="?c=login&t=registration" method="post" novalidate>
            <i class="fas fa-user-circle sign-in-icon"></i>

            <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
            {%  include 'components/notifications.html.twig' %}

            <!-- Email Address -->
            <div class="form-row">
                <label for="inputEmail">Adresse Email</label>
                <input type="email" id="inputEmail" class="form-control mb-1" placeholder="adresse@email.com" name="email" required autofocus>
            </div>

            <!-- Name -->
            <div class="form-row">
                <label for="name">Nom</label>
                <input type="text" id="name" class="form-control mb-1" placeholder="John Doe" name="name" required autofocus>
            </div>

            <!-- Password -->
            <div class="form-row">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" id="inputPassword" class="form-control mb-1" placeholder="******" name="password" required>
            </div>

            <!-- Password again -->
            <div class="form-row">
                <label for="inputPasswordAgain">Confirmation mot de passe</label>
                <input type="password" id="inputPasswordAgain" class="form-control mb-2" placeholder="******" name="passwordCheck" required>
            </div>

            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Créer le compte</button>

            <a href="?c=login" class="" >J'ai déjà un compte</a>

            <p class="mt-5 mb-3 text-muted">&copy; romain-ollier.com</p>
        </form>
    </main>
{% endblock %}

{% block footer %}{% endblock %}
{% block js %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

            var password = document.getElementById("inputPassword")
                , confirm_password = document.getElementById("inputPasswordAgain");

            function validatePassword(){
                if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        })();
    </script>
{% endblock %}